<li id="post-<%= post._id %>">
    <p>
        <% if (locals.user){ %>
        <small>
            <a class="delete-post-button"  href="/students/destroy/<%= post.id %>">X</a>
        </small>
        <% } %>
        
        <br>
        <small>
            <a href="/students/interview/<%= post.id %>""><%= post.email %></a>
            <%= post.name %>
            <%= post.age %>
            <%= post.college %>
            <%= post.status %>
            
        </small>

        <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <br>
            <!-- study about the data attribute -->
        <small>
            <!--  -->
        </small>

    </p>
    <div class="post-comments">
        <% if (locals.user){ %>
           

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                
            </ul>
        </div>
    </div>
    
</li>